<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <header>
        <nav class="navbar navbar-expand-lg mt-3" style="padding-left: 1.5rem; padding-right: 1.5rem;">
            <div class="container-fluid">
              <a class="navbar-brand ms-4" href="#"><img src="images/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="Home.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Following</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="live.html">Live</a>
                  </li>
                 
                </ul>
                <form class="d-flex navbar-form col-lg-4 mx-lg-auto" id="search" role="search">
                    <div class="form-group mb-0">
                        <input type="text" placeholder="Search">
                    </div>
                    <img src="images/search.png">
                </form>
               
                <div class="me-4 justify-content-end">
                <a href="upload-video.html">
                    <img src="images/upload.png" alt="avatar" class="img-fluid  me-3" width="30">
                  </a>
                  <a href="start-stream.html">
                    <img src="images/create video.png" alt="avatar" class="img-fluid me-3" width="35">
                  </a>
                  <a >
                    <img src="images/simon.png" alt="avatar" class="img-fluid rounded-circle me-3" width="45">
                  </a>
                  
                </div>
              </div>
            </div>
          </nav>
    </header>
  </header>
  <main>
    <div class="container">
        <div class="col-4">
            <div class="row">
                <img src="default-pp.jpg" alt="" class="rounded-circle" style="width: 17rem; height: 15rem;">
            </div>
            <div class="row">
                <h4><%= video.username %></h4>
            </div>
        <div class="col-8">
            <div class="row row-cols-sm-1 row-cols-md-4 row-cols-lg-3">
                <% videos.forEach(video=> { %>
                    <div class="col mb-4">
                        <a href="/play/<%= video.video_id %>">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="<%= video.thumbnail_url %>" alt="Thumbnail">
                            <div class="card-body h-100">
                                <h5 class="card-title fw-bold text-truncate"><%= video.video_title %></h5>
                                <div class="row">
                                  <div class="col">
                                <p class="card-text text-muted text-start"><%= video.username %></p>
                              </div>
                              <div class="col">
                                <p class="card-text text-muted fs-6">• <%= video.elapsed %></p>
                              </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
        </div>

    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>