<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StreamMG</title>
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/images/logo.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../public/stylesheets/home.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="./Home.html" class="logo">
        <img src="/images/logo.png" alt="Streamy logo">
      </a>

      <div class="header-actions">
        <div class="lang-wrapper">
          <label for="language">
            <ion-icon name="globe-outline"></ion-icon>
          </label>

          <select name="language" id="language">
            <option value="en">EN</option>
            <option value="au">AU</option>
            <option value="ar">AR</option>
            <option value="tu">TU</option>
          </select>
        </div>

        <a href="/channel"><button class="btn btn-primary">Become a creator!</button></a>
        <h1><%=name%></h1>
        <form action="/logout" method="POST">
        <button class="btn btn-secondary">LOGOUT</button>
      </form>
        <!-- onclick="functionName()" -->
      </div>

      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="./Home.html" class="logo">
            <img src="/images/logo.png" alt=" logo">
          </a>

          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="menu-main-menu-container">
              <ul id="top-menu" class="navbar-nav ml-auto">
                <li class="menu-item"><a href="#">Home</a></li>
                <li class="menu-item"><a href="live.html">Live</a></li>
                <li class="menu-item"><a href="#">Shows</a></li>
                <li class="menu-item">
                  <a href="#">Following</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="video.html">Channel</a></li>
                    <li class="menu-item"><a href="#">Manage Profile</a></li>
                    <li class="menu-item"><a href="price.html">Pricing</a></li>
                    <li class="menu-item">
                      <a href="#">Privacy-Policy</a>
                    </li>

                </li>
              </ul>
              </li>
        </ul>
    </div>
    </div>

    </ul>

    <ul class="navbar-social-list">

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-pinterest"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-youtube"></ion-icon>
        </a>
      </li>

    </ul>

    </nav>

    </div>
  </header>

  <main>
    <article>

      <!-- 
        - #HERO
      -->
      <!-- 
      <section class="hero">
        <div class="container">

          

        </div>
      </section> -->





      <!-- 
        - #SERVICE
      -->

      <section class="service">
        <div class="container">

          <div class="service-banner">
            <figure>
              <img src="/images/homeimg.jpg"
                alt="HD 4k resolution! only $3.99">
            </figure>

            <!-- <a href="./assets/images/service-banner.png" download class="service-btn">
              <span>Download</span> -->
            <!-- <ion-icon name="download-outline"></ion-icon> -->
            <!-- </a> -->
          </div>

          <div class="service-content">

            <p class="service-subtitle">Our Services</p>

            <h2 class="h2 service-title">Stream Exclusive Content</h2>

            <p class="service-text">
              Watch content from your favourite creators by simply paying for the royalty. Show some love to your
              favourite creators
            </p>

            <ul class="service-list">

              <li>
                <div class="service-card">

                  <div class="card-icon">
                    <ion-icon name="tv"></ion-icon>
                  </div>

                  <div class="card-content">
                    <h3 class="h3 card-title">Enjoy streaming anywhere</h3>

                    <p class="card-text">
                      Watch the content anywhere by simply logging in and playing the video you want to watch.
                    </p>
                  </div>

                </div>
              </li>
              <li>
                <div class="service-card">

                  <div class="card-icon">
                    <ion-icon name="videocam"></ion-icon>
                  </div>
                  <div class="card-content">
                    <h3 class="h3 card-title">Be a creator</h3>
                    <p class="card-text">
                      Upload your content and set prices to monetize your content as well.
                    </p>
                  </div>

                </div>
              </li>

            </ul>

          </div>

        </div>
      </section>

      <section class="tv-series">
        <div class="container">

          <p class="section-subtitle">Top creators</p>

          <h2 class="h2 section-title">Top creators on our platform</h2>

          <ul class="movies-list">

            <li>
              <div class="movie-card">

                <a href="#">
                  <figure class="card-banner">
                    <img src="/images/creator1.jpg" alt="creator1">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="#">
                    <h3 class="card-title">Junaid Akram</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                <div class="card-meta">
                  <div class="badge"><img class="homecaticon" src="/images/podcast.png"></div>

                  <!-- <div class="duration"> -->
                  <!-- <ion-icon name="time-outline"></ion-icon> -->

                  <!-- <time datetime="PT47M">47 min</time> -->
                  <!-- </div> -->

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>8.6</data>
                  </div>
                </div>

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="/images/creator2.jpg" alt="creator2">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Muzamil Hasan</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                <div class="card-meta">
                  <div class="badge"><img class="homecaticon" src="/images/podcast.png"></div>
                  <!-- <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT59M">59 min</time>
                  </div> -->

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <data>8.8</data>
                  </div>
                </div>

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="/images/creator4.jpeg" alt="creator3">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">Andrew Tate</h3>
                  </a>

                  <time datetime="2022">2022</time>
                </div>

                <div class="card-meta">
                  <div class="badge"><img class="homecaticon" src="/images/podcast.png"></div>

                  <!-- <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT51M">51 min</time>
                  </div> -->

                  <div class="rating">
                    <ion-icon name="star"></ion-icon>

                    <data>8.3</data>
                  </div>
                </div>

              </div>
            </li>

            <li>
              <div class="movie-card">

                <a href="./movie-details.html">
                  <figure class="card-banner">
                    <img src="/images/creator5.jpeg" alt="creator4">
                  </figure>
                </a>

                <div class="title-wrapper">
                  <a href="./movie-details.html">
                    <h3 class="card-title">PewDiePie</h3>
                  </a>

                  <time datetime="2017">2017</time>
                </div>

                <div class="card-meta">
                  <div class="badge"><img class="homecaticon" src="/images/gaming.png"></div>

                  <!-- <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="PT70M">70 min</time>
                  </div> -->
                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <data>8.3</data>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">

          <div class="title-wrapper">
            <h2 class="cta-title">Join our platform and enjoy endless</h2>

            <p class="cta-text">
              Enter your email to create or restart your membership.
            </p>
          </div>

          <form action="" class="cta-form">
            <input type="email" name="email" required placeholder="Enter your email" class="email-field">

            <button type="submit" class="cta-form-btn">Get started</button>
          </form>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="./Home.html" class="logo">
            <img src="/images/logo.png" alt="Streamy logo">
          </a>

          <ul class="footer-list">

            <li>
              <a href="./Home.html" class="footer-link">Home</a>
            </li>

            <li>
              <a href="#" class="footer-link">Movie</a>
            </li>

            <li>
              <a href="#" class="footer-link">TV Show</a>
            </li>

            <li>
              <a href="#" class="footer-link">Web Series</a>
            </li>

            <li>
              <a href="#" class="footer-link">Pricing</a>
            </li>

          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">



          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    </div>

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
// function functionName(){
// window.open("login.html");
// }
  </script>
</body>

</html>