<!DOCTYPE html>
<html>
<head>
    <title>My Live Stream</title>
</head>
<body>
    <h1>My Live Stream</h1>
    <p>Here are some quality variants of the stream:</p>
    <ul>
        <li><img src="http://13.234.67.46/hls/abcd/_streamkey_360p.jpg" alt="360p"></li>
        <li><img src="http://13.234.67.46/hls/abcd/_streamkey_480p.jpg" alt="480p"></li>
        <li><img src="http://13.234.67.46/hls/abcd/abcd_720p.jpg" alt="720p"></li>
    </ul>
    <script src="test.js"></script>
</body>
</html>