
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
    color: white;
    
}
.blurred {
  filter: blur(3px); /* Adjust the blur amount as needed */
}

.video a{
  text-decoration: none;
}

.followers a{
    text-decoration: none;
    color: white
}

.btn-primary{
    color:white;
    border-color: #772CE8;
    background: #772CE8;
}

.payment-container {
  height: 500px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.payment {
  text-align: center;
}

.payment-btn {
  font-size: 24px;
  padding: 20px;
}



.payment-btn{
    z-index: 2; 
    
}

.btn-primary:hover{
    background: #5b0bd4;
    }
#search-btn{
    color:white;
    border-color: #5b0bd4;
}
#search-btn:hover{
    background: #5b0bd4;
}


.border-primary{
  border-color:#5300c7
}

.form-control:focus {
    border-color: #772CE8;
    box-shadow: 0 0 0 0.15rem  #4e09b5;
}
#side_nav{
    background: rgb(28, 28, 28);
    min-width: 220px;
    max-width: 220px;
    transition: all 0.4s;
    
    
}


.sidebar li.active{
    background: white;
    border-radius: 8px;
    
}
.sidebar a:hover{
    background: #444444 ;
    border-radius: 8px;
    transition: all 0.4s;
}

.sidebar li.active a:hover{
    background: white ;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #772CE8 ;
}

.sidebar li a{
    color: white
}

.content{
    min-height: 100vh;
    width: 100%;
}

.logo a:hover{
    background: none;
}

 /* Container needed to position the button. Adjust the width as needed */
 .profile-container {
    position: relative;
  }
  
  /* Make the image responsive */
  .profile-container img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
  }
  
  /* Style the button and place it in the middle of the profile-container/image */
  .profile-container .upload-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #772CE8;
    color: white;
    opacity: 0; /* hide the button by default */
    transition: opacity 0.3s ease-in-out;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }
  .dropdown-menu a.dropdown-item {
    color: white;
  }
  .dropdown-menu a.dropdown-item:hover {
      background-color: #5300c7;
  }

  .dropdown-menu a.dropdown-item:hover:not(.logout) {
      color: white;
  }

  .dropdown-menu a.logout:hover {
      background-color: rgb(177, 0, 0);
  }

  /* Show the button on image hover */
  .profile-container:hover .upload-btn {
    opacity: 1;
  }
  
  /* Add a dark overlay on image hover */
  .profile-container:hover img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .profile-container .btn:hover {
    background-color: white;
    color: black;
  }
  

.chart-card {
    /* set the desired width */
    width: auto;
    height: 25rem; /* set the desired height */
  }

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #1f1f1f;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 6px;
    color: white;
  
  }
  
  .ui-menu :hover {
    text-decoration: none;
    background-color: #6f42c1;
    outline: none;
  }

  .btn-check:focus + .btn, 
  .btn-check:checked + .btn {
    color: #fff;
    background-color: #6f42c1;
    border: none
  }

@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}